body {
    font-family: cursive;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: white;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    background-color: salmon;
    color: white;
    margin: 10px 10px 0px 20px;
    padding: 20px 5px 20px 5px;
    width: fit-content;
    
}

#instructionsP {
    background-color: blue;
    font-family: monospace;
    font-size: 17px;
    margin: 20px;
    padding: 20px 20px 50px 20px;
    
}


#numberBox, #currScore {
    background-color: turquoise;
    font-size: 30px;
    margin: 0px 15px 15px 20px;
    padding: 5px 20px 60px 5px;
    

}

#winsBox {
    background-color: salmon;
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 10px 5px 0px 5px;
}

#scorePrompt {
    background-color: maroon;
    font-size: 20px;
    padding: 5px;
    margin: 20px;
}

#button {
    border-radius: 200px;
    border: 0;
    padding: 0;

}

#redGemButton, #blueGemButton, #goldGemButton, #greenGemButton {
    /* background-image: url("../assets/images/redGem.png"); */
    /* background-size: cover; */
    /* border-radius: 10px; */
    height: 100px;
    width: 100px;
    /* margin: 0px 0px 0px 5px; */
    /* font-size:0; */
    /* text-indent:-9999px; */
}

.GEMS {
    height: 100px;
    width: 100px;

}